
/* CUSTOM LAYOUT & GLOBALS */
body {
    font-size: 1.1rem;
}

.site-wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 60px 1rem;
}

main {
    margin-bottom: 100px;
}

img {
    width: 80%;
    margin: 8px auto;
}

h2 {
    margin-top: 3rem;
    margin-bottom: 0.8rem;
}

h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

p {
    line-height: 1.73rem;
}


/* HEADER */
.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-btn-wrapper {
    display: flex;
    gap: 8px;
}

.project-authors {
    margin-bottom: 100px;
}

.project-authors p {
    margin: 0;
}


/* CREDENTIALS */
.credentials-section {
  color: var(--bs-tertiary-color);
  background-color: var(--bs-tertiary-bg);
  opacity: .7;
}

.credentials-section__site-wrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.credentials-section a {
  text-decoration: none;
}

.credentials-section i {
  display: inline;
  color: var(--bs-tertiary-color);
}

/* TOC NAV */
nav[data-toggle="toc"] {
  top: 42px;
}

/* small screens */
@media (max-width: 768px) {
  /* override stickyness so that the navigation does not follow scrolling */
  nav[data-toggle="toc"] {
    margin-bottom: 42px;
    position: static;
  }

  /* don't expand nested items, which pushes down the rest of the page when navigating */
  nav[data-toggle="toc"] .nav .active .nav {
    display: none;
  }
}


/* Anchors */
.anchorjs-link {
  color: var(--bs-tertiary-color);
  font-weight: 200;
  transition: .15s;
  transform: translateX(4px);
}
.anchorjs-link:hover {
  color: var(--bs-body-color);
}


@media screen and (max-width: 575px) {
  body {
    font-size: .9rem;
  }

  p {
    line-height: 1.6rem;
  }

  .header-btn-wrapper {
    flex-direction: column;
  }

  .header-btn-wrapper button {
    width: 100%;
  }
}