
/* CUSTOM LAYOUT & GLOBALS */
body {
    font-size: 1.1rem;
}

.site-wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 60px 1rem;
}

main {
    margin-bottom: 100px;
}

img {
    width: 80%;
    margin: 8px auto;
}

h2 {
    margin-top: 3rem;
    margin-bottom: 0.8rem;
}

h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

p {
    line-height: 1.73rem;
}


/* HEADER */
.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-btn-wrapper {
    display: flex;
    gap: 8px;
}

.project-authors {
    margin-bottom: 100px;
}

.project-authors p {
    margin: 0;
}


/* CREDENTIALS */
.credentials-section {
  color: var(--bs-tertiary-color);
  background-color: var(--bs-tertiary-bg);
  opacity: .7;
}

.credentials-section__site-wrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.credentials-section a {
  text-decoration: none;
}

.credentials-section i {
  display: inline;
  color: var(--bs-tertiary-color);
}

/* TABLE OF CONTENT NAVIGATION */
nav[data-toggle="toc"] {
  top: 42px;
}


/*!
 * Bootstrap Table of Contents v1.0.1 (http://afeld.github.io/bootstrap-toc/)
 * Copyright 2015 Aidan Feldman
 * Licensed under MIT (https://github.com/afeld/bootstrap-toc/blob/gh-pages/LICENSE.md) */

/* modified from https://github.com/twbs/bootstrap/blob/94b4076dd2efba9af71f0b18d4ee4b163aa9e0dd/docs/assets/css/src/docs.css#L548-L601 */

/* All levels of nav */
nav[data-toggle="toc"] .nav > li > a {
  display: block;
  padding: 4px 20px;
  font-size: 13px;
  font-weight: 500;
  color: var(--bs-tertiary-color);

  --led-color: brown;
}

nav[data-toggle="toc"] .nav > li > a:hover,
nav[data-toggle="toc"] .nav > li > a:focus {
  padding-left: 19px;
  color: var(--bs-body-color);
  text-decoration: none;
  background-color: transparent;
  border-left: 1px solid var(--bs-body-color);
}

nav[data-toggle="toc"] .nav > li > a.active,
nav[data-toggle="toc"] .nav > li > a.active:hover,
nav[data-toggle="toc"] .nav > li > a.active:focus {
  padding-left: 18px;
  font-weight: bold;
  color: var(--bs-body-color);
  background-color: transparent;
  border-left: 2px solid var(--bs-body-color);
}

/* Nav: second level (shown on .active) */
nav[data-toggle="toc"] .nav-link + ul {
  display: none; /* Hide by default, but at >768px, show it */
  padding-bottom: 10px;
}

nav[data-toggle="toc"] .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: normal;
}
nav[data-toggle="toc"] .nav .nav > li > a:hover,
nav[data-toggle="toc"] .nav .nav > li > a:focus {
  padding-left: 29px;
}
nav[data-toggle="toc"] .nav .nav > li > .active,
nav[data-toggle="toc"] .nav .nav > li > .active:hover,
nav[data-toggle="toc"] .nav .nav > li > .active:focus {
  padding-left: 28px;
  font-weight: 500;
}

nav[data-toggle="toc"] .nav-link.active + ul {
  display: block;
}

/* Dark theme overwrite */
html[data-bs-theme="dark"] nav[data-toggle="toc"] .nav > li > a:hover,
html[data-bs-theme="dark"] nav[data-toggle="toc"] .nav > li > a:focus {
  padding-left: 20px;
  border-left: none;
}

html[data-bs-theme="dark"] nav[data-toggle="toc"] .nav-link.active,
html[data-bs-theme="dark"] nav[data-toggle="toc"] .nav-link.active:hover,
html[data-bs-theme="dark"] nav[data-toggle="toc"] .nav-link.active:focus {
  padding-left: 20px;
  border-left: none;
}

html[data-bs-theme="dark"] nav[data-toggle="toc"] .nav .nav > li > a:hover,
html[data-bs-theme="dark"] nav[data-toggle="toc"] .nav .nav > li > a:focus {
  padding-left: 30px;
}
html[data-bs-theme="dark"] nav[data-toggle="toc"] .nav .nav > li > .active,
html[data-bs-theme="dark"] nav[data-toggle="toc"] .nav .nav > li > .active:hover,
html[data-bs-theme="dark"] nav[data-toggle="toc"] .nav .nav > li > .active:focus {
  padding-left: 30px;
  font-weight: 500;
}


/* Pseudo element */
html[data-bs-theme="dark"] nav[data-toggle="toc"] .nav > li > a {
  position: relative;
}

html[data-bs-theme="dark"] nav[data-toggle="toc"] .nav > li > a::before {
  position: absolute;
  content: '';
  display: block;
  height: .9rem;
  width: .9rem;
  background-color: var(--led-color);
  transform: translate(-1.5rem, 3px);
  opacity: 0;
}

html[data-bs-theme="dark"] nav[data-toggle="toc"] .nav > li > a:hover::before,
html[data-bs-theme="dark"] nav[data-toggle="toc"] .nav > li > a:focus::before,
html[data-bs-theme="dark"] nav[data-toggle="toc"] .nav-link.active::before,
html[data-bs-theme="dark"] nav[data-toggle="toc"] .nav-link.active:hover::before,
html[data-bs-theme="dark"] nav[data-toggle="toc"] .nav-link.active:focus::before {
  opacity: 1;
}

html[data-bs-theme="dark"] nav[data-toggle="toc"] .nav .nav > li > a::before {
  transform: translateX(calc(-1.5rem - 10px));
}


/* ANCHORS */
.anchorjs-link {
  color: var(--bs-tertiary-color);
  font-weight: 200;
  transition: .15s;
  transform: translateX(4px);
}
.anchorjs-link:hover {
  color: var(--bs-body-color);
}


@media screen and (max-width: 575px) {
  body {
    font-size: .9rem;
  }

  p {
    line-height: 1.6rem;
  }

  .header-btn-wrapper {
    flex-direction: column;
  }

  .header-btn-wrapper button {
    width: 100%;
  }
}